<!DOCTYPE HTML>
<html>
<head>
    <title>Clean_stock</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class ="initialism">
<header class = "header_area">
    <div class="header_body">
        <div class="header_logo">
            <a href = "/" class ="btn" role="button"><h3>Clean_stock</h3></a>
        </div>
        <nav class="header_menu">
            <div class="dropdown">
                <a href = "/" class ="btn" role="button">차트</a>
                <a href = "/portfolio" class ="btn" role="button">포트폴리오</a>
                <a href = "/stock/search" class ="btn" role="button">주식 검색(개발중)</a>
            </div>
        </nav>
        <div class="header_side">
            {{#userId}}
                <input type = "hidden" class = "form-control" id ="user_id" value={{userId}}>
            {{/userId}}
            {{#userEmail}} <!-- 머스태치 특성상 if 문이없기때문에 최종값 userName의 진위만 판단함-->
                <span id = "user">{{userEmail}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a> <!-- 로그아웃은 기본제공이라구~-->
            {{/userEmail}}
            {{^userEmail}}<!-- 없을 때에는 ^를 사용하여 준다-->
                <a href = "/oauth2/authorization/google" class ="btn btn-secondary active" role="button">Google Login</a>
                <a href = "/oauth2/authorization/naver" class ="btn btn-success active" role="button">Naver Login</a>
            {{/userEmail}}
        </div>
    </div>
</header>