<div class="side-menu-container">
    <div class="header_logo">
        <a href = "/" class ="btn" id ="clean-stock" role="button">Clean_stock</a>
    </div>
    <div class="side-menu">
        <a href = "/" class ="btn" id="btn-chart" role="button">차트</a>
        <a href = "/portfolio" class ="btn" id="btn-portfolio" role="button">포트폴리오</a>
    </div>
</div>