
header{
    z-index: 997;
}
body{
    background: #304c67;
    font-family : 'Nanum Gothic';
}
.header_area{
    position: sticky;
    top: 0;
}
.table-horizontal{
    background: #ffffff;
    border-radius:10px;
}
.row{
    padding-top: 20px;
}
.header_body{
    display: flex;
    height: 100%;
    align-items: center;
    flex-flow: row nowrap;
    background: #304c67;
    position: relative;
    z-index: 10;
}

.header_logo{
    align-self: center;
    margin-right: 10px;
    height: 50px;
}

.header_menu{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
    margin-left: 7px;
    margin-top:10px;
}

.header_side{
    margin-left:auto;
    flex-flow: row nowrap;
}
.tradingview-wrapper{
    height:70vh;
    width:100%;
    margin:10px;
}
.tradingview-widget-container div div {
    height: 85vh !important;
    /*width: 150vh !important;*/
    border-radius:3px;
}
.index-container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.index-portfolio-wrapper{
    background-color: #ffffff;
    width:85vh;
    height: 85vh;
    margin: 10px;
}
.index-portfolio-wrapper-table{
    margin:5px;
}
#clean-stock{
    font-size: 25px;
    margin-top: 3px;
    margin-left: 10px;
}
.portfolio-id{
    margin:5px;
    align-content: center;
}
.side-menu-container{
    width: 40vh;
    height: 90vh;
    margin-top:20px;
}
#btn-chart{
    width:100%;
    margin-bottom:10px;
}
#btn-portfolio{
    width:100%;
}
.btn{
    color:#cfdbe7;
}
#search-stock{
    background-color: #426a92;
    color: #86a2bc;
    width:50vh;
}