@import url('https://fonts.googleapis.com/css?family=Nanum+Barun+Gothic:400,700,800');
html{
    /*//font-family : 'Nanum Barun Gothic Bold';*/
}
header{
    z-index: 997;
}
body{
    background: #27b06e;
    font-family : 'Nanum Gothic';
}
.header_area{
    position: sticky;
    top: 0;
}
.table-horizontal{
    background: #ffffff;
    border-radius:10px;
}
.row{
    padding-top: 20px;
}
.header_body{
    display: flex;
    height: 100%;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0 14px;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
    z-index: 10;
    border-bottom: 1px solid #e7e7e7;
}

.header_logo{
    align-self: center;
    margin-left :10px;
    margin-right :10px;
    height:55px;
    padding-top: 7px
}

.header_menu{
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    height: 100%;
    margin-left: 15px;
}

.header_side{
    margin-left:auto;
    flex-flow: row nowrap;
}
.tradingview-wrapper{
    margin : 15px;
    height:70vh;
}
.tradingview-widget-container div div {
    height: 85vh !important;
    width: 150vh !important;
    border-radius:3px;
}
.index-container{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.index-portfolio-wrapper{
    margin: 15px 15px 15px 0;
    background-color:#ffffff;
    border-radius:3px;
    width:50vh;
    height: 85vh;
}
