{{>layout/header}}


<div class="col-md-12">
    <button type = "button" class = "btn btn-primary" id ="kospi-save">코스피 저장</button>
    <button type = "button" class = "btn btn-primary" id ="kospi-update">코스피 업데이트</button>
</div>

<script src="/js/app/admin.js"></script>
{{>layout/footer}}