{{>layout/header2}}

<div class="index-container">
    {{>layout/side-menu}}
    <div class="main-container">
        {{>layout/search-login}}
        <div class="tradingview-portfolio-wrapper">
            {{>layout/tradingview-widget}}
            <div class="index-portfolio-wrapper">
        <div class="index-portfolio-wrapper-table">
        <div class="row">
            <div class="col-md-12">
                {{#portfolio_id}}
                    <div class="portfolio-id">{{portfolio_id}}의 포트폴리오</div>
                {{/portfolio_id}}
                {{^portfolio_id}}
                    <div class="portfolio-id">포트폴리오가 존재하지 않습니다.</div>
                {{/portfolio_id}}
            </div>
        </div>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>자산 이름</th>
                <th>보유 수량</th>
                <th>평균 단가</th>
                <th>현재가</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#receipt}}
                <tr>
                    <td>{{stockName}}</td>
                    <td>{{stockCnt}}</td>
                    <td>{{stockAvr}}</td>
                    <td>{{stockPrice}}</td>
                </tr>
            {{/receipt}}
            </tbody>
        </table>
        {{^receipt}}
            <div class="no-receipt">자산이 존재하지 않습니다</div>
        {{/receipt}}
        </div>
    </div>
        </div>
    </div>
</div>
{{>layout/script}}
{{>layout/footer}}