{{>layout/header2}}

<div class="index-container">
    {{>layout/side-menu}}
    <div class="main-container">
        {{>layout/search-login}}
        <div class="tradingview-portfolio-wrapper">
            {{>layout/tradingview-widget}}
            <div class="index-portfolio-wrapper">
        <div class="index-portfolio-wrapper-table">
        <div class="row">
            <div class="col-md-12">
                {{#portfolioName}}
                    <div class="portfolio-id">{{portfolioName}}의 포트폴리오</div>
                {{/portfolioName}}
                {{^portfolioName}}
                    <div class="portfolio-id">포트폴리오가 존재하지 않습니다.</div>
                {{/portfolioName}}
            </div>
        </div>
        <table class="table table-horizontal table-bordered">
            <thead class="thead-strong">
            <tr>
                <th>종목명</th>
                <th>손익</th>
                <th>수익률</th>
                <th>현재가</th>
            </tr>
            </thead>
            <tbody id="tbody">
            {{#receipt}}
                <tr>
                    <td>{{stockName}}</td>
                    <td>{{profitPrice}}</td>
                    <td>{{profitRate}}</td>
                    <td>{{stockPrice}}</td>
                </tr>
            {{/receipt}}
            </tbody>
        </table>
        {{^receipt}}
            <div class="no-receipt">자산이 존재하지 않습니다</div>
        {{/receipt}}
        </div>
    </div>
        </div>
    </div>
</div>
{{>layout/script}}
{{>layout/footer}}