{{>layout/header}}
<h1>포트폴리오 추가</h1>
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class = "form-group">
                    <input type = "text" class = "form-control" id ="name" placeholder="포트폴리오 이름">
                </div>
            </form>
            <a href="/" role = "button" clas="btn btn-secondary">취소</a>
            <button type = "button" class = "btn btn-primary" id ="portfolio-save">등록</button>
        </div>
    </div>
{{>layout/footer}}