{{>layout/header2}}

<div class="index-container">
    {{>layout/side-menu}}
    <div class="main-container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    #{{portfolio.id}} {{portfolio.name}} 포트폴리오
                </div>
            </div>
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>평가 금액</th>
                    <th>평가 손익</th>
                    <th>수익률</th>
                </tr>
                </thead>
                <tbody id="tbody">
                    <tr>
                        <td>1000$</td>
                        <td>+100$</td>
                        <td>10%</td>
                    </tr>
                </tbody>
            </table>
            <!-- 목록 출력 영역 -->
            <table class="table table-horizontal table-bordered">
                <thead class="thead-strong">
                <tr>
                    <th>티커</th>
                    <th>종목명</th>
                    <th>손익</th>
                    <th>수익률</th>
                    <th>현재가</th>
                    <th>보유 수량</th>
                    <th>평균 단가</th>

                </tr>
                </thead>
                <tbody id="tbody">
                {{#receipt}}
                    <tr>
                        <td>{{stockTicker}}</td>
                        <td><a href="/receipt/update/receipt_id/{{id}}">{{stockName}}</td>
                        <td>{{profitPrice}}</td>
                        <td>{{profitRate}} %</td>
                        <td>{{stockPrice}}</td>
                        <td>{{stockCnt}}</td>
                        <td>{{stockAvr}}</td>
                        <input type="hidden" class="receiptId" value={{id}}>
                    </tr>
                {{/receipt}}
                </tbody>
            </table>
            {{^receipt}}
                <h4>자산이 존재하지 않습니다</h4>
            {{/receipt}}
            <a href="/receipt/save/portfolio_id/{{portfolio.id}}" role="button" class="btn btn-primary">
                자산 등록
            </a>
            <button type = "button" class = "btn btn-danger" id ="portfolio-delete">삭제</button>
        </div>
    </div>
</div>
{{>layout/script}}
{{>layout/footer}}