{{>layout/header}}


<div class="col-md-12">
    <div class="row">
        <div class="col-md-12">
            <a href="/portfolio/save" role="button" class="btn btn-primary">포트폴리오 등록</a>
        </div>
    </div>
    <br>
    <!-- 목록 출력 영역 -->
    <table class="table table-horizontal">
        <!--        <thead class="thead-strong">-->
        <tr>
            <th>#</th>
            <th>이름</th>
            <th>평가 금액</th>
            <th>평가 손익</th>
            <th>수익률</th>
            <th>작성 날짜</th>

        </tr>
        <!--        </thead>-->
        <tbody id="tbody">
        {{#portfolio}}
            <tr>
                <td>{{id}}</td>
                <td><a href="/portfolio/detail/{{id}}">{{name}}</td>
                <td>1000$</td>
                <td>+100$</td>
                <td>10%</td>
                <td>{{modifiedDate}}</td>
            </tr>
        {{/portfolio}}
        </tbody>
    </table>
</div>
{{>layout/footer}}