{{>layout/header}}
<h1>포트폴리오 추가</h1>
    <div class="col-md-12">
        <div class="col-md-4">
            <form>
                <div class = "form-group">
                    <a href = "/receipt/save" class ="btn btn-secondary active" role="button">자산 추가</a>
                    <input type = "text" class = "form-control" id ="name" placeholder="자산이 들어갈 공간">
                </div>
            </form>
            <a href="/" role = "button" clas="btn btn-secondary">취소</a>
            <button type = "button" class = "btn btn-primary" id ="btn-save">등록</button>
        </div>
    </div>
{{>layout/footer}}