{{>layout/header}}
<h1>자산 검색</h1>
<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class = "form-group">
                <input type = "text" id="stockWord" placeholder="자산명 또는 티커를 입력하세요.">
                <button type="button" id="stock-search">Search</button>
                <table class="table table-horizontal table-bordered">
                    <thead class="thead-strong">
                    <tr>
                        <th>티커</th>
                        <th>종목명</th>
                        <th>현재가</th>
                    </tr>
                    </thead>
                    <tbody id="stockList">
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>
{{>layout/footer}}